{% extends "admin/change_form.html" %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% if forloop.counter == 1 %}
            {% include "admin/includes/fieldset.html" %}
        {% endif %}
    {% endfor %}

    {% for inline_admin_formset in inline_admin_formsets %}
        {% include "admin/edit_inline/tabular.html" %}
    {% endfor %}

    {% for fieldset in adminform %}
        {% if forloop.counter > 1 %}
            {% include "admin/includes/fieldset.html" %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block inline_field_sets %}{% endblock %}